@media (prefers-color-scheme: light) {
  :root {
    --graph-background-color: rgb(248, 248, 248);
    --grid-line-color: #ffffff;
    --node-stroke-color: #333;
    --node-fill-color: #c5e0ff;
    --hub-color: rgb(90, 156, 255);
    --new-node-color: rgb(28, 255, 115);
    --main-text-color: black;
    --link-stroke-color: #333;
    --status-color: rgb(250, 113, 255);
    --hover-color: rgb(134, 228, 105);
    --connected-to-selected-color: rgb(255, 213, 28);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --graph-background-color: black;
    --grid-line-color: #222222;
    --node-stroke-color: rgb(255, 255, 255);
    --node-fill-color: #555555;
    --hub-color: #0043ff;
    --new-node-color: #00a23e;
    --main-text-color: white;
    --link-stroke-color: #9e9e9e;
    --hover-color: rgb(62, 160, 32);
    --connected-to-selected-color: rgb(129, 109, 17);
  }
}


:root {
  --highlighted-link-stroke-width: 12px;
}


.main-graph {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: var(--graph-background-color);

  position: fixed;
  width: 100vw;
  height: calc(100vh - 50px);
  top: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  font-family: sans-serif;
}


.grid-line {
  fill: var(--grid-line-color);
}

.node text{
  pointer-events: none;
  fill: var(--main-text-color);
}

.node text tspan {
  /* https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/alignment-baseline */
  alignment-baseline: middle;
}

marker{
  fill: #333;
}

g.node circle{
  fill: var(--node-fill-color);
  stroke: var(--node-stroke-color);
  stroke-width: 6px;
}

g.node.unconnected circle{
  fill: rgb(255, 101, 101) !important;
}

g.node.hub circle{
  fill: var(--hub-color);
}

g.node.new circle{
  fill: var(--new-node-color);
}

g.node.connected-to-selected circle{
  fill: var(--connected-to-selected-color);
}

g.node.selected circle{
  fill: rgb(29, 114, 241) !important;
}

g.node.selected text{
  fill: white !important;
}

g.node:hover circle{
  fill: var(--hover-color);
}


g.node-highlighter circle{
  fill: #5598cf;
}


path.link {
  fill: none;
  stroke: var(--link-stroke-color);
  stroke-width: 4px;
  cursor: default;
}

path.link.connected-to-selected {
  stroke: rgb(255, 114, 33);
  stroke-width: var(--highlighted-link-stroke-width);
}

path.link:not(.newLinkLine):hover{
  stroke: var(--hover-color);
}

g.connect-node circle{
  fill: #BEFFFF;
}

path.link.hidden{
  stroke-width: 0;
}

path.link.selected {
  stroke: rgb(195, 0, 255);
  stroke-width: var(--highlighted-link-stroke-width);
}

g.new-node-position-indicator rect {
  fill: var(--hover-color);
  stroke-width: 5;
  stroke: rgb(40, 170, 0)
}

#graph-view-status {
  background-color: var(--hover-color);
  position: fixed;
  bottom: 0px;
  left: 0px;
  padding: 5px 15px;
  color: var(--main-text-color);
}