body{
  margin: 0;
  padding: 0;
  overflow:hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: rgb(248, 248, 248);
  font-family: sans-serif;
}

p{ 
  text-align: center; 
  overflow: overlay;
  position: relative;
}

header{
  display: flex;
  position: fixed;
  width: 100%;
  height: 50px;
  padding: 0px 10px;
  background-color: lightskyblue;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

#heading {
  margin: 8px;
  margin-left: 0px;
  font-size: 24px;
}


header button{
  width: 50px;
  min-width: 50px;
  height: 50px;
  border: none;
  background: none;
  cursor: pointer;
}

#download-input{
  margin: 0 0.5em;
}

main {
  position: fixed;
  width: 100vw;
  height: calc(100vw - 50px);
  top: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.node text{
  pointer-events: none;
}

marker{
  fill: #333;
}

g.node circle{
  fill: #F6FBFF;
  stroke: #333;
  stroke-width: 2px;
}

g.node.unconnected circle{
  fill: rgb(255, 101, 101);
}

g.node.hub circle{
  fill: rgb(90, 156, 255);
}

g.node.new circle{
  fill: rgb(28, 255, 115);
}

g.node.connected-to-selected circle{
  fill: rgb(255, 213, 28);
}

g.node.selected circle{
  fill: rgb(250, 232, 255) !important;
}

g.node:hover circle{
  fill: rgb(200, 238, 241);
}


path.link {
  fill: none;
  stroke: #333;
  stroke-width: 6px;
  cursor: default;
}

path.link.connected-to-selected {
  stroke: rgb(255, 114, 33);
  stroke-width: 12px;
}

path.link:hover{
  stroke: rgb(94, 196, 204);
}

g.connect-node circle{
  fill: #BEFFFF;
}

path.link.hidden{
  stroke-width: 0;
}

path.link.selected {
  stroke: rgb(229, 172, 247);
}