body, #app {
  margin: 0;
}

header, #controls, #list, #links{
  font-family: 'Open Sans', sans-serif;
}

header {
  background: lightskyblue;
  margin: 0;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

header h1 {
  margin: 0;
  font-size: x-large;
}

#header-left {
  display: flex;
  justify-content: center;
  height: 50px;
}

#heading {
  margin: 8px;
  font-size: 24px;
}

#header-controls {
  display: inline-block;
}

main {
  display: grid;
}

#note-controls, #search-input {
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

#search-input{
  background-color: lightpink;
}

#note-controls {
  background-color: blanchedalmond;
}

button, a.button {
  height: 50px;
  display: inline-block;
  border: none;
  cursor: pointer;
  width: 50px;
  padding: 0;
  background: none;
  text-align: center;
}

button[disabled]{
  color: grey;
  fill: grey;
  cursor: inherit;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.note-list-item.hub{
  font-weight: bold;
}

th, td {
  text-align: left;
  padding: 5px;
}

.note-list-item {
  cursor: pointer;
}

.note-list-item .index {
  width: 56px;
}

.note-list-item .noteListItemControls {
  height: 22px;
  text-align: right;
  padding: 4px 5px;
}

.note-list-item .linkedNotesIndicator {
  width: 32px;
  text-align: right;
}

.note-list-item .update-time{
  width: 92px;
}

.note-list-item:hover, .note-list-item:nth-child(even):hover {
  background-color: aqua;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.note-list-item[class*="active"]{
  font-weight: bold;
  background-color: chartreuse;
}

.note-list-item[class*="linked"]{
  background-color: yellow;
}


@media only screen and (min-width: 1201px) {
  main {
    grid-template-columns: auto auto;
    grid-template-rows: 100%;
    position: fixed;
    bottom: 0px;
    top: 50px;
    width: 100%;
  }

  #left-view{
    grid-area: 1 / 1 / 2 / 2;
    width: calc(100vw - 800px);
  }

  #list{
    overflow-y: scroll;
    padding: 0px;
    height: calc(100vh - 100px);
  }

  #right-view{
    grid-area: 1 / 2 / 2 / 3;
    width: 800px;
  }

  #note{
    overflow-y: auto;
    min-width: 720px;
    padding: 0;
    height: calc(100vh - 100px);
  }

  #links h2, #stats h2{
    padding: 0px 10px;
  }
}



@media only screen and (max-width: 1200px) and (min-width: 711px){
  main {
    grid-template-columns: 1fr;
  }

  #left-view{
    grid-area: 2 / 1 / 3 / 2;
  }

  #list{
    margin: auto;
    padding: 20px;
  }

  #right-view{
    grid-area: 1 / 1 / 2 / 2;
  }

  #note{
    border-bottom: 15px solid black;
    padding: 0px 10px;
  }
}


@media only screen and (max-width: 710px) {
  #app-stats{
    display: none;
  }

  main {
    grid-template-columns: 1fr;
  }

  #left-view{
    grid-area: 2 / 1 / 3 / 2;
  }

  #list{
    margin: auto;
    padding: 0px;
  }

  #right-view{
    grid-area: 1 / 1 / 2 / 2;
  }

  #note{
    border-bottom: 15px solid black;
    padding: 0;
  }

  #editor{
    grid-area: 1 / 1 / 2 / 2;
    padding: 0px 10px;
  }

  #links h2, #stats h2{
    padding: 0px 10px;
  }
}