@media (prefers-color-scheme: light) {
  :root {
    --background-color: white;
    --font-color: black;
    --link-color: rgb(0, 40, 216);
    --header-background-color: lightskyblue;
    --subheader-1-background-color: lightpink;
    --subheader-2-background-color: blanchedalmond;
    --table-row-background-color-odd: white;
    --table-row-background-color-even: #f2f2f2;
    --table-row-background-color-hover: aqua;
    --table-row-background-color-active: chartreuse;
    --table-row-background-color-linked: yellow;
    --buton-background-color: rgb(239, 239, 239);
    --button-border-color: black;
    --separator-color: black;
    --button-background-color-active: chartreuse;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: black;
    --font-color: white;
    --link-color: rgb(122, 146, 255);
    --header-background-color: black;
    --subheader-1-background-color: rgb(110, 69, 75);
    --subheader-2-background-color: rgb(153, 97, 12);
    --table-row-background-color-odd: black;
    --table-row-background-color-even: #3d3d3d;
    --table-row-background-color-hover: rgb(0, 139, 139);
    --table-row-background-color-active: rgb(70, 139, 0);
    --table-row-background-color-linked: rgb(167, 167, 0);
    --buton-background-color: rgb(59, 59, 59);
    --button-border-color: white;
    --separator-color: white;
    --button-background-color-active: rgb(70, 139, 0);
  }

  button img {
    filter: invert(1);
  }
}

body, #app {
  margin: 0;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--font-color);
}

input, select {
  background: var(--background-color);
  color: var(--font-color)
}

a {
  color: var(--link-color);
}

header,
#controls,
#left-view,
#list,
#links,
#stats {
  font-family: 'Open Sans', sans-serif;
}

.tippy-popper{
  font-family: 'Open Sans', sans-serif;
}

header {
  background: var(--header-background-color);
  margin: 0;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  user-select: none;

  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  font-family: 'Open Sans', sans-serif;
}

header h1 {
  margin: 0;
  font-size: x-large;
}

#header-left {
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
}


#header-left #status {
  text-align: left;
}

#header-right {
  display: flex;
  padding-right: 10px;
  margin-right: 10px;
  height: 50px;
  align-items: center;
}

.app-stats-item {
  margin-left: 15px;
}

#header-right input {
  width: 240px;
  height: 24px;
  font-size: 16px;
  border: none;
}


#heading {
  margin: 8px;
  margin-left: 0px;
  font-size: 24px;
  white-space: pre;
}

#header-controls {
  display: inline-block;
}

main {
  display: grid;
}

#section-search-input{
  background-color: var(--subheader-1-background-color);
}

#note-controls {
  background-color: var(--subheader-2-background-color);
  user-select: none;
}

#note-controls-left {
  display: flex;
}

.icon-button {
  height: 50px;
  display: inline-block;
  border: none;
  cursor: pointer;
  width: 50px;
  min-width: 50px;
  padding: 0;
  background: none;
  text-align: center;
}

.icon-button[disabled]{
  color: grey;
  fill: grey;
  cursor: inherit;
  border: none;
}

.icon-button img {
  vertical-align: middle;
}

button {
  border-radius: 0;
  border: 2px solid var(--button-border-color);
  cursor: pointer;
  background-color: var(--buton-background-color);
  color: var(--font-color);
}

button[disabled]{
  color: grey;
  fill: grey;
  cursor: inherit;
  border: 2px solid rgb(100, 100, 100);
}

.pagination-button {
  margin: 10px 5px;
  padding: 5px 15px;
  font-size: 22px;
}

.pagination-button.selected {
  background-color: var(--button-background-color-active);
  font-weight: bold;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.note-list-item.hub{
  font-weight: bold;
}

th, td {
  text-align: left;
  padding: 5px;
}

.note-list-item {
  cursor: pointer;
}

.note-list-item .index {
  width: 56px;
}

.note-list-item .noteListItemControls {
  height: 36px;
  text-align: right;
  padding: 0px 5px;
}

.noteListItemButton {
  height: 32px;
  cursor: pointer;
}

.note-list-item .linkedNotesIndicator {
  width: 32px;
  text-align: right;
}

.note-list-item .update-time{
  width: 92px;
}

.note-list-item:hover, .note-list-item:nth-child(even):hover {
  background-color: var(--table-row-background-color-hover);
}

tr:nth-child(odd) {
  background-color: var(--table-row-background-color-odd);
}

tr:nth-child(even) {
  background-color: var(--table-row-background-color-even);
}

.note-list-item[class*="active"]{
  font-weight: bold;
  background-color: var(--table-row-background-color-active);
}

.note-list-item[class*="linked"]{
  background-color: var(--table-row-background-color-linked);
}

.dialog-box-button {
  font-size: 16px;
  margin-top: 5px;
  margin-right: 5px;
}


@media only screen and (min-width: 1201px) {
  body, #app{
    overflow: hidden;
  }
  
  main {
    grid-template-columns: auto auto;
    grid-template-rows: 100%;
    position: fixed;
    bottom: 0px;
    top: 50px;
    width: 100%;
  }

  #left-view{
    grid-area: 1 / 1 / 2 / 2;
    width: calc(100vw - 800px);
  }

  #note-controls, #section-search-input {
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    max-width: 100vw;
    overflow: hidden;
  }

  #list{
    overflow-y: scroll;
    padding: 0px;
    height: calc(100vh - 100px);
  }

  #right-view{
    grid-area: 1 / 2 / 2 / 3;
    width: 800px;
  }

  #note{
    overflow-y: auto;
    min-width: 720px;
    padding: 0;
    height: calc(100vh - 100px);
  }

  #links h2, #stats h2{
    padding: 0px 10px;
  }
}



@media only screen and (max-width: 1200px) and (min-width: 711px){
  main {
    grid-template-columns: 1fr;
  }

  #left-view{
    grid-area: 2 / 1 / 3 / 2;
  }

  #note-controls, #section-search-input {
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100vw;
    overflow: hidden;
  }

  #list{
    margin: auto;
    padding: 20px;
  }

  #right-view{
    grid-area: 1 / 1 / 2 / 2;
  }

  #note{
    border-bottom: 15px solid var(--separator-color);
    padding: 0px 10px;
  }
}


@media only screen and (max-width: 710px) {
  #app-stats{
    display: none;
  }

  main {
    grid-template-columns: 1fr;
  }

  #left-view{
    grid-area: 2 / 1 / 3 / 2;
  }

  #note-controls, #section-search-input {
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100vw;
    overflow: hidden;
  }

  #list{
    margin: auto;
    padding: 0px;
  }

  #right-view{
    grid-area: 1 / 1 / 2 / 2;
  }

  #note{
    border-bottom: 15px solid var(--separator-color);
    padding: 0;
  }

  #editor{
    grid-area: 1 / 1 / 2 / 2;
    padding: 0px 10px;
  }

  #links h2, #stats h2{
    padding: 0px 10px;
  }
}

