/******************************
  App header
******************************/

.app-header {
  background: var(--header-background-color);
  margin: 0;
  padding: 0;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-bar-height);
  user-select: none;
  width: 100vw;
  box-sizing: border-box;
  top: 0;
  left: 0;
  z-index: 5;

  .header-left {
    display: flex;
    justify-content: center;
    height: var(--header-bar-height);
    align-items: center;
  }
  
  .header-right {
    display: flex;
    height: var(--header-bar-height);
    align-items: center;
  }

}


.header-right input {
  width: 240px;
}

.app-title {
  margin: 0;
  margin-right: 5px;
  padding: 5px 10px;
  white-space: pre;
  background: none;
  height: 50px;
  border-radius: 0;
}

.app-title:hover {
  background-color: var(--nli-color-hover);
}

.header-stats {
  white-space: pre;
  display: flex;
  gap: 15px;
}

.app-header-stats-item {
  display: flex;
  align-items: center;
  gap: 2px;
}

@media only screen and (max-width: 1280px) {
  .header-stats {
    display: none;
  }
}

/******************************
  App menu
******************************/

.app-menu {
  background-color: var(--header-background-color);
  z-index: 1;
  position: fixed;
  top: 50px;
  left: 0;
}

.app-menu-item {
  display: flex;
  padding: 15px 10px;
  align-items: center;
  cursor: pointer;
}

.app-menu-item.disabled {
  cursor: default;
}

.app-menu-item:not(.disabled):hover {
  background-color: var(--accent-color-1-light);
}

.app-menu-item.disabled img.svg-icon {
  filter: opacity(0.5);
}

.app-menu-item .label {
  margin: 0;
  margin-left: 15px;
  color: inherit;
}

.app-menu-item.disabled .label {
  color: var(--neno-gray-4);
}

/******************************
  Pinned notes
******************************/

.pinned-notes {
  align-items: center;
  gap: 5px;
  height: 100%;
  overflow: auto;
  justify-content: flex-start;
  width: 100vw;
}

.pinned-notes::-webkit-scrollbar {
  display: none;
}

.pinned-notes-placeholder {
  padding: 0 10px;
}

.pinned-note {
  padding: 0 10px;
  padding-left: 5px; /* because of intrinsic icon padding */
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 35px;
  background: var(--accent-color-1);
  border-radius: var(--border-radius);
  font-size: initial;
}

.pinned-note:hover {
  background-color: var(--nli-color-hover);
}

.pinned-note.active {
  background-color: var(--accent-color-1-light);
}

.pinned-note .svg-icon {
  margin-right: 3px;
}

.pinned-note p {
  white-space: pre;
}
