.note-list-controls input,
.note-list-controls select {
  margin: 6.5px 0;

  /*
    In the mobile view, we don't set a fixed height of the
    note-list-controls bar, so the margin
    of these elements must be set so that it matches a total height of 50px.
  */

  flex-grow: 1;
  flex-shrink: 1;
  min-width: 30px;
  height: 36px;
  width: 265px;
}

.note-list-sort-mode-select {
  width: 265px;
}

/******************************
  Note list item
******************************/

.note-list-item {
  text-align: left;
  display: flex;
  background-color: var(--nli-color);
  margin: auto;
  overflow: hidden;
  user-select: none;
  width: 100%;
  max-width: var(--max-content-width);
}

.note-list-item-main {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: var(--default-padding);
  width: 100%;
}

.note-list-item-main.with-link-edge {
  width: calc(100% - 40px);
}

.note-list-item-main .title {
  font-size: var(--default-font-size);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-align: left;
}

.note-list-item-info {
  font-size: var(--small-font-size);
  display: flex;
  align-items: baseline;
  width: 100%;
}

.note-list-item-info span {
  white-space: nowrap;
}

.note-list-item-info .slug {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.note-list-item-info .separator {
  white-space: pre;
}

.note-list-item .note-list-item-linked-notes-indicator {
  text-align: left;
  padding: 5px;
  width: 30px;
  background-color: var(--nli-color-unlinked);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  font-size: var(--default-font-size);
}

.note-list-item-linked-notes-indicator-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.note-list-item-linked-notes-indicator-content .svg-icon {
  vertical-align: bottom;
  height: 20px;
  width: 28px;
  object-fit: cover;
}

.note-list-item:not(.active) .note-list-item-linked-notes-indicator.linkable {
  cursor: pointer;
}

.note-list-item .title {
  font-weight: var(--bold);
}

.note-list-item .index {
  width: 56px;
}

.note-features {
  align-self: center;
  display: inline-flex;
}

.note-list-item .linked-notes-indicator-number {
  text-align: center;
  display: block;
  font-weight: var(--bold);
}

.note-list-item .unlinked-note-indicator {
  background: var(--error-and-danger-text-color);
  width: 18px;
  height: 18px;
  border-radius: 100px;
  margin: auto;
}

.dangling-indicator {
  background: var(--error-and-danger-text-color);
  width: 18px;
  height: 18px;
  border-radius: 100px;
  margin: 0;
  align-self: center;
  flex-shrink: 0;
}

.note-list-item .info {
  display: inline;
}

.note-list-item:not(.active) .note-list-item-main:hover,
.note-list-item.selected:not(.active) .note-list-item-main {
  background-color: var(--nli-color-hover);
}

.note-list-item.active .note-list-item-main{
  background-color: var(--nli-color-active) !important;
}

.note-list-item.active .note-list-item-linked-notes-indicator {
  background-color: var(--nli-color-active);
}

.note-list-item[class*="linked"] .note-list-item-linked-notes-indicator {
  background-color: var(--nli-color-linked);
}

/******************************
  Note
******************************/

.note-controls,
.note-list-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100vw;
  overflow: hidden;
}

.note-list-controls {
  padding: 0 10px;
}

.note-controls {
  border-bottom: var(--default-border);
  user-select: none;
}

.note-controls-left,
.note-controls-right {
  display: flex;
  flex-wrap: wrap;
}

.note-controls-right img[width="24"][height="24"] {
  padding: 13px; /* (50px - 24px) / 2 */
}

.note-busy-container {
  text-align: center;
  margin: 15px;
}

.note {
  max-width: 100vw;
}

.note-content {
  max-width: var(--max-content-width);
  margin: auto;
  padding: var(--default-padding);
}

.note-backlinks {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.note-actions {
  gap: var(--default-gap);
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--default-gap);
}

.note-meta-paragraph {
  font-size: var(--default-font-size);
}

/******************************
  Search presets
******************************/

.search-presets {
  display: flex;
  flex-direction: column;
  gap: var(--default-gap);
  padding: var(--default-gap);
}

.search-presets-heading-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    margin: 0;
  }
}

.search-preset {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--default-font-size);

  .search-preset-buttons {
    display: flex;
    flex-shrink: 0;
    gap: var(--small-gap);
  }
}

.save-current-query {
  display: flex;
  flex-direction: column;
  gap: var(--default-gap);

  & > h2{
    margin: 0;
  }
}

#search-preset-name-input {
  margin: 0;
}

.pagination {
  text-align: center;
  word-break: break-all;

  &.top {
    padding-top: var(--default-padding);
  }

  &.bottom {
    padding-bottom: var(--default-padding);
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--small-gap);
  }

  .pagination-button-selected {
    background-color: var(--button-background-color-active);
    font-weight: var(--bold);
  }
}

/******************************
  Misc
******************************/

.list-section {
  display: flex;
  flex-direction: column;
  gap: var(--default-gap);

  h1 {
    margin-top: 0;
  }

  input {
    margin-right: var(--default-gap);
  }

  & > *:first-child:not(.note-list) {
    padding-top: var(--default-gap);
  }
}

.note-list-controls {
  border-bottom: var(--default-border);
}

.note-search-disclaimer {
  font-size: var(--default-font-size);
  margin: 0;
  text-align: center;
}

.note-list {
  border-collapse: collapse;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

@media only screen and (min-width: 1281px) {
  .sidebar {
    grid-area: 1 / 1 / 2 / 2;
    width: var(--xl-list-width);
    border-right: var(--default-border);
    z-index: 1;
  }

  .note-controls,
  .note-list-controls {
    height: var(--header-bar-height);
  }

  .list-section {
    overflow-y: scroll;

    /* height is 100vh minus 2 headers of 50px height */
    height: calc(100vh - (2 * var(--header-bar-height)));
  }

  .search-presets {
    overflow-y: scroll;

    /* height is 100vh minus 2 headers of 50px height and minus top padding of
    this element */
    height: calc(100vh - (2 * var(--header-bar-height)) - 2 * var(--default-padding));
  }

  .main-content-besides-sidebar {
    grid-area: 1 / 2 / 2 / 3;
    width: calc(100vw - var(--xl-list-width));
  }

  .note {
    padding: 0;
    overflow-y: auto;
    margin: 0;
    height: calc(100vh - (2 * var(--header-bar-height)));
  }
}

@media only screen and (max-width: 1280px) {
  main {
    grid-template-columns: 1fr;
  }

  .list-section {
    padding-top: 0;
  }

  .note-controls {
    flex-wrap: wrap;
  }

  .note-list-controls {
    flex-wrap: nowrap;
  }

  .main-content-besides-sidebar {
    grid-area: 1 / 1 / 2 / 2;
  }

  .note-content {
    padding: 0 var(--default-gap);
  }
}

/******************************
  Editor
******************************/

.slug-line {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  background: var(--accent-color-interactible);

  .note-slug {
    margin: 0;
    color: var(--font-color);
    font-family: var(--main-font);
    background: var(--accent-color-interactible);
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 0;
    flex-grow: 1;

    &.invalid {
      color: var(--error-and-danger-text-color);
    }
  }

  .note-slug-validation-error {
    color: var(--error-and-danger-text-color);
    margin: 0 5px;
  }

  .alias-control-button {
    display: flex;
    padding: 4px;
  }
}

div[data-lexical-editor] {
  font-size: 18px;
  margin: auto;
  padding: var(--default-padding);
  min-height: 350px;
  border: none;
  color: var(--main-content-color);
  outline: none;
  text-align: start;
  max-width: var(--max-content-width);

  & > p {
    margin: 0;
    line-height: var(--default-line-height);
  }

  .link {
    cursor: pointer;
    text-decoration: none;
    color: var(--link-color);

    /* Long external links should wrap after each char */
    &[rel="noopener noreferrer"] {
      word-break: break-all;
    }
  }

  & > p.s-heading {
    line-height: normal;
    font-weight: bold;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    display: block;

    &:first-child {
      margin-top: 0;
    }
  }

  & > p.list-item {
    margin-inline-start: 20px;
  }

  .wikilink-content {
    cursor: pointer;

    &.available {
      color: var(--link-color);
    }

    &.unavailable {
      color: var(--error-and-danger-text-color);
    }
  }

  .wikilink-punctuation {
    color: var(--alt-content-color);
  }

  .bold {
    font-weight: bold;
  }

  .transclusion-wrapper {
    user-select: none;
    font-size: var(--default-font-size);
    font-weight: normal;
    line-height: var(--default-line-height);
  }

  .transclusion {
    background: var(--accent-color-interactible);
    border-radius: var(--border-radius);
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;

    &.unavailable {
      background: var(--error-and-danger-background-color);

      .not-available-disclaimer {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: var(--default-gap);
      }
    }

    p {
      margin: 0;
    }

    p.slug {
      color: var(--alt-content-color);
      font-size: var(--default-font-size);
      margin-bottom: 5px;
    }

    span.transclusion-note-title {
      display: block;
      font-weight: bold;
    }
  }

  .inline-code, .code-block {
    font-family: var(--code-font);
    background-color: var(--accent-color-interactible);
  }

  .quote-block {
    border-left: 6px solid var(--alt-content-color);
    padding: 3px var(--default-gap);
    font-style: italic;
    background: var(--accent-color-interactible);
    margin-inline: 0;
  }

  /*
    If a quote block is not followed by another, show gap
    Goal: Gap between quote blocks and different kinds of blocks
  */
  .quote-block:not(:has(+ .quote-block)) {
    margin-bottom: 10px;
  }

  /*
    Elements that are not a quote block but followed by one should have a margin
    Goal: Gap between quote blocks and different kinds of blocks
    Only p.s-heading already have a margin-bottom by default that should not be
    overridden.
  */
  :not(.quote-block, p.s-heading):has(+ .quote-block) {
    margin-bottom: 10px;
  }

  /*
    If a code block is not followed by another, show gap
    Goal: Gap between code blocks and different kinds of blocks
  */
  .code-block:not(:has(+ .code-block)) {
    margin-bottom: 10px;
  }

  /*
    Elements that are not a code block but followed by one should have a margin
    Goal: Gap between code blocks and different kinds of blocks
    Only p.s-heading already have a margin-bottom by default that should not be
    overridden.
  */
  :not(.code-block, p.s-heading):has(+ .code-block) {
    margin-bottom: 10px;
  }

  /*
    If a list item block is not followed by another, show gap
    Goal: Gap between list item sections and different kinds of blocks
  */
  .list-item:not(:has(+ .list-item)) {
    margin-bottom: 10px;
  }

  /*
    Elements that are not a list item but followed by one should have a margin
    Goal: Gap between list item sections and different kinds of blocks
    Only p.s-heading already have a margin-bottom by default that should not be
    overridden.
  */
  :not(.list-item, p.s-heading):has(+ .list-item) {
    margin-bottom: 10px;
  }
}
