.files-view {
  h1 {
    margin: 10px 0;
  }

  .controls {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    gap: var(--default-gap);
  }

  .files {
    flex-wrap: wrap;
    gap: var(--default-gap);

    .files-view-preview-box {
      width: 200px;
      min-height: 241px;
      background: var(--accent-color-interactible);
      border-radius: var(--border-radius);
      overflow: hidden;
    
      a {
        text-decoration: none;
      }
    
      img {
        width: 150px;
        height: 150px;
        padding: 25px;
        display: block;
    
        &.preview-image {
          width: 200px;
          height: 200px;
          padding: 0px;
          object-fit: cover;
        }
      }
    
      .file-info {
        color: var(--main-content-color);
        text-decoration: none;
        padding: 5px;
        font-size: var(--small-font-size);
        min-height: 31px;
        display: flex;
        justify-content: space-between;
        word-break: break-word;
        height: 46px;
      }
    }
  }

  .create-script {
    .controls {
      display: flex;
      flex-direction: row;
      align-items: center;

      input {
        margin: 0 5px;
      }
    }

    .error {
      color: var(--error-and-danger-text-color);
    }
  }
}

/******************************
  File view
******************************/

.file-section {
  h1 {
    margin-top: 10px;
  }

  .file-container {
    justify-content: center;
    background-color: var(--accent-color-interactible);
  }

  img,
  audio,
  video,
  iframe {
    margin: 15px auto;
  }

  iframe {
    height: 80vh;
    width: 60vw;
  }

  pre {
    width: 100%;
  }

  video {
    max-height: 80vh;
  }

  audio {
    width: 95vw;
  }

  img {
    max-width: 95vw;
  }

  .preview-block-file-text {
    margin: 0;
  }

  .action-bar {
    display: flex;
    flex-wrap: wrap;
    gap: var(--default-gap);
  }

  .rename {
    display: flex;
    flex-direction: column;
    gap: var(--default-gap);

    .rename-section-input-line {
      display: flex;
      gap: var(--default-gap);
      align-items: center;

      & input {
        margin: 0;
      }
    }

    .update-references {
      display: flex;
      align-items: center;
      gap: var(--default-gap);

      .switch {
        font-size: 1.75rem;
      }
    }

    button {
      width: fit-content;
    }
  }
}
