@media (prefers-color-scheme: light) {
  :root {
    --graph-background-color: #f8f8f8;
    --grid-line-color: #fff;
    --node-stroke-color: #333;
    --node-fill-color: #c5e0ff;
    --hub-color: #5a9cff;
    --new-node-color: #1cff73;
    --main-text-color: black;
    --link-stroke-color: #333;
    --status-color: #fa71ff;
    --hover-color: #86e469;
    --connected-to-selected-color: #ffd51c;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --graph-background-color: black;
    --grid-line-color: #222;
    --node-stroke-color: #fff;
    --node-fill-color: #555;
    --hub-color: #0043ff;
    --new-node-color: #00a23e;
    --main-text-color: white;
    --link-stroke-color: #9e9e9e;
    --hover-color: #3ea020;
    --connected-to-selected-color: #816d11;
  }
}

:root {
  --highlighted-link-stroke-width: 12px;
}

.main-graph {
  user-select: none;
  background-color: var(--graph-background-color);
  position: fixed;
  width: 100vw;
  height: calc(100vh - 50px);
  top: 50px;
  bottom: 0;
  left: 0;
  font-family: sans-serif;
}

.grid-line {
  fill: var(--grid-line-color);
}

.node text {
  pointer-events: none;
  fill: var(--main-text-color);
}

.node text tspan {
  /* https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/alignment-baseline */
  alignment-baseline: middle;
}

marker {
  fill: #333;
}

g.node circle {
  fill: var(--node-fill-color);
  stroke: var(--node-stroke-color);
  stroke-width: 6px;
}

g.node-highlighter circle {
  fill: #5598cf;
}

g.connect-node circle {
  fill: #beffff;
}

g.node.unconnected circle {
  fill: #ff6565 !important;
}

g.node.hub circle {
  fill: var(--hub-color);
}

g.node.new circle {
  fill: var(--new-node-color);
}

g.node.connected-to-selected circle {
  fill: var(--connected-to-selected-color);
}

g.node.selected circle {
  fill: #1d72f1 !important;
}

g.node.selected text {
  fill: white !important;
}

g.node:hover circle {
  fill: var(--hover-color);
}

path.link {
  fill: none;
  stroke: var(--link-stroke-color);
  stroke-width: 4px;
  cursor: default;
}

path.link.connected-to-selected {
  stroke: #ff7221;
  stroke-width: var(--highlighted-link-stroke-width);
}

path.link:not(.new-link-line):hover {
  stroke: var(--hover-color);
}

path.link.hidden {
  stroke-width: 0;
}

path.link.selected {
  stroke: #c300ff;
  stroke-width: var(--highlighted-link-stroke-width);
}

g.new-node-position-indicator rect {
  fill: var(--hover-color);
  stroke-width: 5;
  stroke: #28aa00;
}

#graph-view-status {
  background-color: var(--hover-color);
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 5px 15px;
  color: var(--main-text-color);
}
