/******************************
  Start
******************************/

.section-start {
  display: grid;
  grid-gap: var(--default-gap);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  padding: 20px;
  box-sizing: border-box;
  max-width: 800px;
  margin: auto;
  height: calc(100vh - var(--header-bar-height));
  overflow: auto;
}

.section-start .start-welcome {
  margin: auto;
}

.section-start .start-welcome #start-logo {
  margin: auto;
  width: 200px;
  height: 200px;
  display: block;
}

.section-start .start-welcome div {
  margin: auto;
  text-align: center;
  display: block;
}

.start-welcome-app-title {
  font-size: var(--h1-font-size);
  font-weight: var(--bold);
}

.section-start input {
  font-size: var(--large-font-size);
  color: var(--font-color);
  margin: 0;
}

.section-start footer {
  color: var(--font-color);
  margin: 0;
  text-align: center;
}

.section-start footer .links {
  display: flex;
  justify-content: center;
  gap: var(--default-gap);
}

.section-start footer .version {
  font-size: var(--small-font-size);
}

@media only screen and (min-width: 1281px) {
  .section-start .start-welcome {
    grid-area: 1 / 1 / 2 / 3;
  }

  .section-start footer {
    grid-area: 3 / 1 / 4 / 3;
  }
}

@media only screen and (max-width: 1280px) {
  .section-start {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }

  .section-start .start-welcome {
    grid-area: 1 / 1 / 2 / 2;
  }
}
