.app-menu {
  background-color: var(--header-background-color);
  z-index: 10;
  position: fixed;
  top: 3.125rem;
  left: 0;

  .app-menu-item {
    display: flex;
    padding: var(--default-padding);
    align-items: center;
    background: transparent;
    width: 100%;
    gap: var(--default-gap);

    .label {
      margin: 0;
      color: inherit;
    }

    &.disabled {
      img.svg-icon {
        filter: opacity(0.5);
      }

      .label {
        color: var(--neno-gray-4);
      }
    }

    &:not(.disabled):hover {
      background-color: var(--accent-color-1-light);
    }
  }
}
