/* IBM Plex Mono Variable 1.0.0 - wght axis 100-700 */
@font-face {
  font-display: swap;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 100 700;
  /* stylelint-disable-next-line at-rule-descriptor-value-no-unknown */
  src: url("../fonts/ibm-plex-mono-var-v1-roman.woff2") format("woff2")
    tech(variations);
}

@font-face {
  font-display: swap;
  font-family: "IBM Plex Mono";
  font-style: italic;
  font-weight: 100 700;
  /* stylelint-disable-next-line at-rule-descriptor-value-no-unknown */
  src: url("../fonts/ibm-plex-mono-var-v1-italic.woff2") format("woff2")
    tech(variations);
}
