@import "globals.css";
@import "app-header.css";
@import "app-menu.css";
@import "navigation-rail.css";
@import "note-view.css";
@import "note-list.css";
@import "editor.css";
@import "files-view.css";
@import "file-view.css";
@import "settings-view.css";
@import "scripts-view.css";
@import "script-view.css";
@import "launchpad.css";
@import "note-preview.css";
@import "ibm-plex-mono.css";

/*
  3 display modes:
  Small: 0 - 599px
  No navigation rail, app menu toggle visible, single editor view
  
  Medium: 600 - 1279px
  Navigation rail visible, no app menu toggle, single editor view
  
  Large: 1280px and above
  Navigation rail visible, no app menu toggle,
  editor view with note list sidebar
*/ 