@media print {
    .navigation-rail,
    .app-header,
    .sidebar,
    .note-controls,
    .note-props {
      display: none !important;
    }

    .note-view {
      display: block !important; /* Disable grid */
    }

    .alias-control-button {
      display: none !important;
    }

    div[data-lexical-editor="true"] {
        padding-left: 0;
        padding-right: 0;
        margin: 0;
    }
  }