body {
  width: 320px;
  margin: 0;
}

main {
  padding: 10px;
}

header {
  padding: 5px 10px;
}

header {
  background-color: var(--header-background-color);
}

#heading {
  margin: 0;
}

h2 {
  margin-top: 0;
}

footer {
  background-color: grey;
  padding: 5px 10px;
}

a {
  color: var(--link-color);
}

#note-text {
  height: 100px;
  border: var(--input-border-width) solid var(--main-content-color) !important;
}

#note-title,
#note-text {
  width: 290px;
  margin-bottom: 10px;
}

#note-title {
  font-size: 20px;
}
