@font-face {
  font-family: "Mona Sans";
  src:
    url("assets/Mona-Sans.woff2") format("woff2 supports variations"),
    url("assets/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color-1: #46b8ff;
    --accent-color-1-light: #a8deff;
    --accent-color-2: #ff8598;
    --accent-color-interactible: #e0e0e0;
    --background-color: white;
    --main-content-color: black;
    --link-color: #0028d8;
    --overlay-gradient: linear-gradient(45deg, #020024 0%, #09097980 35%, #00d4ff 100%);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color-1: #0b495c;
    --accent-color-1-light: #043541;
    --accent-color-2: #6d2433;
    --accent-color-interactible: #303030;
    --background-color: black;
    --main-content-color: #fff;
    --link-color: #7a92ff;
    --overlay-gradient: linear-gradient(45deg, #110a92 0%, #09097980 35%, #007d97 100%);
  }

  img.svg-icon {
    filter: invert(1);
  }
}

:root {
  --font-color: var(--main-content-color);
  --header-background-color: var(--accent-color-1);
  --subheader-1-background-color: var(--accent-color-2);
  --subheader-2-background-color: var(--accent-color-1);
  --nli-color: var(--accent-color-interactible);
  --nli-color-hover: var(--accent-color-1-light);
  --nli-color-active: var(--accent-color-1);
  --nli-color-linked: var(--accent-color-2);
  --nli-color-unlinked: var(--accent-color-1-light);
  --buton-background-color: var(--accent-color-interactible);
  --input-element-border-color: var(--main-content-color);
  --button-background-color-active: var(--accent-color-1);
  --table-row-background-color-odd: var(--background-color);
  --table-row-background-color-even: var(--accent-color-interactible);
  --main-font: "Mona Sans", sans-serif;
  --input-border-width: 2px;
  --border-radius: 10px;
  --default-margin: 15px;
  --xl-list-width: 720px;
  --main-ui-font-size: 24px;
  --default-box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 7.5%),
    0 2px 2px hsl(0deg 0% 0% / 7.5%),
    0 4px 4px hsl(0deg 0% 0% / 7.5%),
    0 8px 8px hsl(0deg 0% 0% / 7.5%),
    0 16px 16px hsl(0deg 0% 0% / 7.5%);
}

body,
button,
#note-title,
#note-text {
  font-family: var(--main-font);
  color: var(--main-content-color);
  background-color: var(--background-color);
}

input,
select {
  border: var(--input-border-width) solid var(--main-content-color) !important;
  font-size: var(--main-ui-font-size);
  background: var(--background-color);
  color: var(--font-color);
}

input[type="radio"] {
  width: 24px;
  height: 24px;
  margin: 0;
}

body,
#app {
  background-color: var(--background-color);
  color: var(--font-color);
}

body,
#app,
input,
select,
button {
  font-family: var(--main-font);
}

button {
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;
  background-color: var(--buton-background-color);
  color: var(--font-color);
  padding: 10px;
}

button[disabled] {
  color: grey;
  fill: grey;
  cursor: inherit;
  border: none;
}
