body {
  margin: 0;
}

header, #controls, #list, #links{
  font-family: 'Open Sans', sans-serif;
}

header {
  background: lightskyblue;
  margin: 0;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

header h1 {
  margin: 0;
  font-size: x-large;
}

main {
  display: grid;
}

#note{
  padding: 0px 10px;
}

#controls {
  background-color: blanchedalmond;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

button {
  height: 50px;
  display: inline-block;
  border: none;
  cursor: pointer;
  width: 50px;
  padding: 0;
  background: none;
}

button[disabled]{
  color: grey;
  fill: grey;
  cursor: inherit;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr.hub{
  font-weight: bold;
}

th, td {
  text-align: left;
  padding: 5px;
}

td {
  cursor: pointer;
}

td.time{
  width: 92px;
}

tr:hover, tr:nth-child(even):hover {
  background-color: aqua;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr[class*="active"]{
  font-weight: bold;
  background-color: chartreuse;
}


@media only screen and (min-width: 1201px) {
  #heading #full-heading{
    display: inline;
  }

  #heading #short-heading{
    display: none;
  }

  main {
    grid-template-columns: auto auto;
    grid-template-rows: 100%;
    position: fixed;
    bottom: 0px;
    top: 100px;
    width: 100%;
  }

  #note{
    overflow-y: auto;
    min-width: 720px;
    grid-area: 1 / 2 / 2 / 3;
  }

  #list{
    overflow-y: auto;
    padding: 0px;
    grid-area: 1 / 1 / 2 / 2;
  }
}



@media only screen and (max-width: 1200px) and (min-width: 649px){
  #heading #full-heading{
    display: none;
  }

  #heading #short-heading{
    display: inline;
  }

  main {
    grid-template-columns: 1fr;
  }

  #note{
    grid-area: 1 / 1 / 2 / 2;
    border-bottom: 15px solid black;
  }

  #list{
    grid-area: 2 / 1 / 3 / 2;
    margin: auto;
    padding: 20px;
  }
}


@media only screen and (max-width: 648px) {
  #heading #full-heading{
    display: none;
  }

  #heading #short-heading{
    display: inline;
  }

  main {
    grid-template-columns: 1fr;
  }

  #editor{
    grid-area: 1 / 1 / 2 / 2;
  }

  #note{
    grid-area: 1 / 1 / 2 / 2;
    border-bottom: 15px solid black;
  }

  #list{
    grid-area: 2 / 1 / 3 / 2;
    margin: auto;
    padding: 0px;
  }
}